@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    list-style: none;
}

h2 {font-family: 'Noto Sans JP', sans-serif;}

hr {
    border: none;
    border-bottom: 0.01rem solid rgb(194, 194, 194);
}

a {
    text-decoration: none;
    color: rgb(64, 106, 221);
}

a:hover {
    color: rgb(41, 86, 211);
    text-decoration: underline;
}

li {
    margin-bottom: 5px;
    font-size: 13pt;
}

.all {
    display: flex;
    background-color: #f1f1f1;
}

.left-side {
    background-color: #59609c;
    width: 25%;
    height: 100vh;
}

.center {
    width: 75%;
}

.contents {
    padding: 10%;
}

.content {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.content:hover {
    cursor: pointer;
    background-color: #6871a5;
    color: rgb(245, 245, 245);
    transition: .2s;
}

.justify-center {
    display: flex;
    justify-content: center;
}

#default {
    margin: 5%;
}

@media screen and (max-width: 890px) {
    .content {font-size: 20px;}
    .left-side {width: 40%;}
}

.primary {color:#525891;}
.light {color: rgb(70, 69, 69);}
